#UrlInput{
	width:40%;
}
body{
	overflow-x: hidden;
	background-color: #212121 !important;
}

#fullcontainer{
	background-color: #212121;
}
#welcome{
	margin-top: 5px;
	text-align: left;
	color:#ff6633;
}
#help{
	margin-top:45px;
	vertical-align: bottom !importrant;
	text-align: right;
	color:#ff6633;
}
#info{
	margin-top:33px;
	vertical-align: bottom !important;
	text-align: center;
	color:#ff6633;
}
#helpButton{
	text-align: right;
	color:#ff6633;
}
#urlTitle{
	font-size:32px;
	color:#ff6633;
}
#url{
	font-size: 26px;
}
#addButton{
	font-size:30px;
	background-color:#ff6633;
}
#tableHeading
{
	font-size:30px;
}
#tableInput
{
	font-size:30px;
}
#resultPanel{
	font-size:22px;
	height: 480px;
	border: none;
    box-shadow: none;
    background-color: #212121;
}
.panel-footer{
	background-color: #616161 !important; 
	
}
#largeResultPanel{
	font-size:22px;
	
}
.panel-body{
	background:#ff6633;
	padding:6px !important;
}
.panel{
	margin-bottom:0px !important;
	margin-top:0px !important;
}
#simpleProgress{
	text-align: right;
	font-size: 30px;
}
#dataChart{
	height: 290px;
	width: 580px;
	/* background:#F78E05; */
}
#numChartA{
	height: 75px;
	width: 450px;
	/*background:#F78E05;
	 webkit-transform: rotate(90deg); Chrome, Safari, Opera
	transform: rotate(90deg); */
	/* background:#F78E05; */
}
#numChartB{
	height: 45px;
	width: 450px;
	barWidth: 10px;
	/*background:#F78E05;
	 webkit-transform: rotate(90deg); Chrome, Safari, Opera
	transform: rotate(90deg); */
	/* background:#F78E05; */
}
#collapse1{
	padding: 20px;
}

.fa{
	font-size:12px;
} 
table{
	width:100%;
	text-align: left;
}
.fa:hover{
	cursor:pointer;
	color:gray;
}
.date{
	width: 80%;
}
#radio-toolbar{
	font-size:15px;
	position:relative;
	margin-top:9px;
}
/* canvas {
	-webkit-transform: rotate(90deg); Chrome, Safari, Opera
	transform: rotate(90deg);
} */
 canvas{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
}
.avgA{
	position: relative;
	bottom: 60px;
	left: 460px;
	color: #E0E0E0;
}
.avgB {
	position: relative;
	bottom: 50px;
	left: 460px;
	color: #E0E0E0;
}
   